<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @repos[0]["owner"]["login"] %></title>
    <link rel="stylesheet" href="/git_styles.css">
  </head>
  <body>
    <header class="top_nav">
      <form action="/repos" method="post">
        <input type="text" name="username" value="" placeholder="Search Github">
        <input type="submit" value="Git Username">
      </form>
      <p>Pull Requests</p>
      <p>Issues</p>
      <p>Pull Gists</p>
    </header>
    <main class="container">
      <aside>
        <img class="avatar" src = "<%= @repos[0]["owner"]["avatar_url"] %>">
        <p><%= @info["name"] %></p>
        <p><%= @info["login"] %></p>
        <p><%= @info["company"] %></p>
        <p><%= @info["location"] %></p>
        <p>&#9993;<%= @info["email"] %></p>
      </aside>
      <article>
        <nav>
          <p><a href="<%= @repos[0]["owner"]["html_url"] %>">Overview</a></p>
          <p><a href="<%= @repos[0]["owner"]["repos_url"] %>">Repositories</a></p>
          <p><a href="<%= @repos[0]["owner"]["starred_url"] %>">Stars</a></p>
          <p><a href="<%= @repos[0]["owner"]["followers_url"] %>">Followers</a></p>
          <p><a href="<%= @repos[0]["owner"]["following_url"] %>">Following</a></p>
        </nav>
        <ul>
          <% @repos.each do |repo| %>
          <li>
          <h3><a href="<%= repo["html_url"] %>"><%= repo["name"] %></a></h3>

          <% end %>
          </li>
        </ul>
        </article>
      <footer>
        <a href="https://help.github.com/articles/github-terms-of-service/">Terms</a>
        <a href="https://help.github.com/articles/github-privacy-statement/">Privacy</a>
        <a href="https://help.github.com/articles/github-security/">Security</a>
        <a href="https://status.github.com/">Status</a>
        <a href="https://help.github.com/">Help</a>
        <img class="cat" src="https://octodex.github.com/images/stormtroopocat.png">
      </footer>
    </main>
  </body>
</html>
